/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/layout/grid-background";

$base-font-size: 16px;
$base-line-height: 24px;

@include establish-baseline;

body {
    //@include baseline-grid-background($base-line-height, #e0e0e0);
    font-family: 'ff-meta-web-pro', sans-serif;
}


* {
    @include box-sizing(border-box);
}

p, ul, ol, dl {
    margin: 0 0 rhythm(1, $base-font-size); 
}

a {
    color: #ff3300;
}

h1 {
    @include adjust-font-size-to(48px);
    @include adjust-leading-to(2, 48px);
    margin: 0 0 rhythm(1, 48px); 
}

h2 {
    @include adjust-font-size-to(36px);
}

h3 {
    @include adjust-font-size-to(28px);
}


.strong {
    font-family: 'franklin-gothic-ext-comp-urw', sans-serif;
    text-transform: uppercase;
}
.puffy {
    font-family: 'cooper-black-std', serif;
    color: #ff3300;
}


.bullets {
    list-style: disc;
}
.bullets li {
    margin-left: rhythm(1, $base-font-size);
}


.btn {
    background-color: #ff3300;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: rhythm(.25, $base-font-size) rhythm(.5, $base-font-size);
}

.btn:hover {
    background-color: darken(#ff3300, 5%);
}

.demo-box {
    border: 1px solid #101010;
    position: relative;
    padding: rhythm(1, $base-font-size) 0;
}


.demo {
    color: #ff3300;
    margin: 0;
}


code {
    display: block;
    background: #101010;
    color: #fff;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 12px;
    padding: rhythm(.5, 12px);
    margin: 0 0 rhythm(2, 12px);
    white-space: pre;
}


.container {
    overflow: hidden;
    width: 90%;
    max-width: 1200px;
    margin: rhythm(3, $base-font-size) auto;
    
}



.social {
    position: absolute;
    right: 0;
    top: 1em;
}


footer {
    font-size: .875em;
    color: #666;
}
