{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "safari >= 8",
          "IE >= 9"
        ]
      }
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread", {
    }]
  ]
}
